body{
    background-color: #777777;
}

.heading{
    color: white;
    margin-top: 10px;
    text-align: center;
}

.container{
    margin-top: 5%;
}
.display
{
    width: 100%;
    height: 103px;
    text-align: right;
    font-size: 60px;
    background-color: #292938;
    color: white;
    border: none;
    padding-right: 10px;
    outline: none;
}
.rowOneData{
    background-color: #f5923e; 
    color: white;
}
.col-md-3{
    padding: 0px;
}
.blockItem{
    width: 100%;
    font-size: 30px;
    padding: 5px 30px;
    border: 0.5px solid black;
    display:inline-block;
}

